*{
  padding: 0;
   margin: 0;
}
body{
   padding: 0;
   margin: 0;
   width: 100%;
   height: 100vh;
    background-color: #D6DDED;
}
header{
    width: 100%;
    height: 698px;
    background-image: url('../images/Hero-bg.png');
    background-size: cover;
}
nav ul{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    margin: 30px 150px;
    list-style: none;
}
nav ul li h1{
    color: #4E47FF;
}

nav ul li button{
    background-color: #4E47FF;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 10px;
}
.header-description{
    margin: 0 auto;
    width: 905px;
    margin-top: 158px;
    text-align: center;
}
.header-description h1{
    font-size: 65px;
    font-weight: bold;
}
.header-description button{
    padding: 10px 24px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
}

.action-parent{
    width: 100%;
    height: 400px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.action{
    width: 1000px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 220px;
}
.action-description p{
    color: rgba(37, 36, 50, 50%);
}
.action-description h1,
.action-description p,
.action-description button
{
    margin-top: 20px;
}
.action-description button{
    padding: 10px 20px;
    color: white;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
}
.action-img img{
    border-radius: 30px;
}

.users{
    margin: 50px auto;
    width: 1000px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.users-details{
    width: 930px;
    height: 300px;
    text-align: center;
    background-color: rgba(78,71,255,10%);
    border-radius: 10px;
}
.users-details h1{
    color: #252432;
    font-size: 38px;
    font-weight: bold;
    margin-top: 50px;
}
.user-num{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 50px;
    
}
.user-num div h1{
    color: #4E47FF;
    font-weight: bold;
    font-size: 80px;
}
.user-num div p{
    color: rgba(37, 36, 50, 50%);
}

.users-feedback{
    margin: 137px auto;
    width: 1000px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-feedback-details{
    width: 1000px;
    height: 350px;
    text-align: center;
    border-radius: 10px;
}
.feedback{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 50px;
    gap: 15px;
}
.feedback div{
    width: 32%;
    height: 200px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
}
.first-fb div{
    box-shadow: none;
}
.first-fb .star{
    width: 200px;
    height: 20px;
    display: flex;
    gap: 5px;

}
.first-fb {
    text-align: left;
    overflow: hidden;
}
.first-fb h2{
    color: #1E1E1E;
}
.first-fb p{
    color:#1E1E1E;
}
.first-fb h2,
.first-fb .star,
.first-fb p
{
    margin-top: 15px;
    margin-left: 24px;
}
.first-fb div{
    margin-left: 24px;
}
.first-fb .user-photo-comment{
    display: flex;
    align-items: center;
    width: 250px;
    height: 60px;
}
.first-fb .user-photo-comment .name-comment{
    width: 160px;
    height: 5px;
    margin-bottom: 20px;
}
.first-fb .user-photo-comment .name-comment h5 span{
    font-weight: 400;
    color: #B3B3B3;
}
.first-fb .user-photo-comment .name-comment h5{
    color: #757575;
}
.first-fb .user-photo-comment img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}


/* Ready to focus better */

.focus{
    width: 1000px;
    height: 550px;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 100%);
    margin: 0 auto;
    border-radius: 14px;
    background-color: rgba(255, 255, 255, 100%);
    
}
.focus img{
    width: 650px;
    height: 250px;
}
.focus h1,
.focus p,
.focus img,
.focus button{
    margin-top: 30px;
}
.focus h1{
    font-weight: bold;
    font-size: 50px;
}
.focus p{
     color: rgba(37, 36, 50, 50%);
}
.focus button{
    padding: 10px 20px;
    color: #F2EDED;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
}
.focus img{
    border-radius: 30px;
}

.form-section{
    width: 1000px;
    height: 400px;
    margin: 150px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.form-section .title{
    width: 530px;
    height: 235px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.form-section .title h1{
    font-size: 77px;
    font-weight: bold;
}
form{
    width: 31%;
    height: 90%;
}
form input[type="text"]{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #FFFFFF;
    font-size: 18px;
    border: none;
    padding: 10px 0;
    text-align:center;
    margin: 5px 0px;
}
form textarea{
    width: 100%;
     margin: 5px 0px;
     border: none;
}
form button{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #4E47FF;
    color: white;
}

/* Footer start */
footer{
    width: 100%;
    height: 400px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot{
    width: 500px;
    height: 150px;
    text-align: center;
}
.foot .footer-ul ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}
.foot .footer-ul ul li{
    list-style: none;
}
.foot .footer-ul ul li a{
    text-decoration: none;
    color: #8987A1;
}
.footer-heading-pgp h1{
    font-size: 100px;
    color: #4E47FF;
}
.footer-heading-pgp p{
    color: #8987A1;
}

/* Footer End */